[Desktop Entry]
Name=PulseSync
Comment=PulseSync App for Yandex Music Mod
GenericName=pulsesync
Icon=pulsesync
Type=Application
StartupNotify=true
StartupWMClass=pulsesync
MimeType=x-scheme-handler/pulsesync
Categories=Audio;Music;Player;AudioVideo;Development