.button {
    cursor: pointer;
    transition: var(--transition);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 25px;
    gap: 10px;

    background: #577eff;
    border-radius: 8px;
    min-width: fit-content;

    font-weight: 800;
    font-size: 14px;
    line-height: 140%;

    color: #fff;

    &:not(:disabled):hover {
        background: #7192ff;
    }

    &:disabled {
        background: #415eba;
        color: #ffffff;
        cursor: default;
    }

    &:not(:disabled):active {
        background: #577eff;
        color: #ffffff;
    }
}
