.userCard {
    cursor: pointer;

    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);
    outline: 2px solid transparent;
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;

    &:hover {
        outline: 2px solid var(--statusColorProfile);
        border-radius: 9px;
    }
}

.userCardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.userCardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.userAvatar {
    width: 75px;
    height: 75px;
    border-radius: 16px;
    object-fit: cover;
}

.userStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.userNickname {
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;

    color: #ffffff;

    text-shadow: 0px 0px 5.9px rgba(0, 0, 0, 0.7);
}

.userUsername {
    font-weight: 500;
    font-size: 12px;

    color: #e1e1e1;

    text-shadow: 0px 0px 5.9px rgba(0, 0, 0, 0.7);
}

.userBadges {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 3px;
}

.badge {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 43px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.cardDetailButton {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
    gap: 10px;

    color: white;
    background: rgba(84, 93, 118, 0.45);
    border-radius: 87px;

    &:hover {
        background: rgba(84, 93, 118, 0.9);
    }
}

.userCard:hover .cardDetail {
    opacity: 1;
}

.userStatusInfo {
    background: var(--statusColorProfile);

    padding: 6px 10px;
    border-radius: 0 0 8px 8px;
    font-weight: 700;
    font-size: 14px;
    text-wrap-mode: nowrap;
    overflow: hidden;
    hyphens: auto;
    display: block;
    position: relative;
    text-overflow: ellipsis;

    color: var(--statusColorDark);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.statusText {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeOut;
}
