:root {
    --scrollWExtension: 350px;
    --scrollHExtension: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow-y: scroll;

    background: #1a1c24;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #232631;
    border-bottom: 1px solid #3d445b;
}

.checkSelect {
    transition: var(--transition);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 34px;
    left: -34px;
    top: 0px;
    bottom: 0px;
}

.leftSide {
    width: var(--scrollWExtension);
    height: var(--scrollHExtension);
}

.leftSideInner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 15px 40px;
    gap: 5px;

    width: var(--scrollWExtension);
    height: var(--scrollHExtension);
    overflow: auto;

    background: #232631;
    border-right: 1px solid #3d445b;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    background: #252835;
}

.skeletonWrapper {
    padding: 15px;
}

.addonCard {
    transition: var(--transition);
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 13px;
    gap: 10px;
    isolation: isolate;
    background: transparent;
    width: -webkit-fill-available;
    border-radius: 8px;
    justify-content: space-between;

    &:hover {
        background: #464d62;

        & > .checkSelect {
            opacity: 1;

            &:hover {
                color: #b9c5e6 !important;
            }
        }

        & > .addonType {
            color: #b9c5e6;
        }
    }
}

.addonList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    width: -webkit-fill-available;
}

.addonCardSelected {
    background: #464d62;

    & > .addonType {
        color: #b9c5e6;
    }
}

.addonImage {
    width: 21px;
    height: 21px;
    border-radius: 4px;
}

.addonName {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    width: -webkit-fill-available;
    color: #f3f3f3;
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
}

.addonType {
    transition: var(--transition);
    display: flex;
    color: #67728f;

    width: 21px;
    height: 21px;
}

.checkMarkTheme {
    color: #92ff99;
}

.checkMarkScript {
    color: #ffe292;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    border: none;

    .searchInput {
        flex-grow: 1;
        padding: 6px 12px;
        font-size: 13px;
        color: #f3f3f3;
        width: 100%;
        background: #464d62;
        border: none;
        border-radius: 8px 0 0 8px;
        transition: var(--transition);

        &:focus {
            outline: none;
            border-color: #464d62;
        }

        &::placeholder {
            color: #7b86a3;
        }
    }

    .filterButton {
        padding: 7px;
        background: #464d62;
        border: none;
        color: #f3f3f3;
        cursor: pointer;
        font-size: 16px;
        border-radius: 0;
        position: relative;

        &:hover {
            background: #5a6178;
        }
    }

    .optionsButton {
        padding: 7px;
        background: #464d62;
        border: none;
        color: #f3f3f3;
        cursor: pointer;
        font-size: 16px;
        border-radius: 0 8px 8px 0;

        &:hover {
            background: #5a6178;
        }
    }
}

.tagSelectorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: -webkit-fill-available;
}

.selectedTag {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background: #3468f2;
    border-radius: 8px;
    font-size: 12px;
    color: #f3f3f3;
    cursor: pointer;
}

.line {
    background: #3d445b;
    width: -webkit-fill-available;
    height: 1px;
    margin: 10px 0;
}

.enabledAddons,
.disabledAddons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.tagFilterPane {
    position: absolute;
    min-width: 400px;
    max-height: 210px;
    overflow: scroll;
    top: 70px;
    left: 300px;
    z-index: 9;
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    background-color: #2e313d;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    flex-direction: column;
}

.filterCheckbox {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    background: #2e313d;
    border-radius: 4px;
    padding: 4px 8px;
    transition: background 0.2s;
}

.filterCheckbox:hover {
    background: #3d414e;
}

.filterCheckbox input {
    margin-right: 6px;
    accent-color: #3468f2;
}

.count {
    position: absolute;
    display: flex;
    height: 13px;
    padding: 0px 4px;
    min-width: fit-content;
    background: #3468f2;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    border-radius: 25px;
    left: 40%;
    right: 13%;
    top: 14px;
    align-items: center;
    justify-content: center;
}

.refreshButton {
    &:hover {
        & > svg {
            transform: rotate(25deg);
        }
    }

    &:active {
        & > svg {
            transform: rotate(-25deg);
        }
    }

    & > svg {
        transition: var(--transition);
    }
}

.toolbarButton {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    gap: 10px;
    border: none;
    background: #353a49;
    transition: var(--transition);

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        background: #474d61;

        &:hover {
            background: #474d61;
        }
    }

    &:hover {
        background: #474d61;
    }

    & > .count {
        position: absolute;
        display: flex;
        height: 13px;
        padding: 0 4px;
        background: #3468f2;
        color: #fff;
        font-size: 11px;
        font-weight: 900;
        border-radius: 25px;
        left: 48%;
        right: 13%;
        top: 10px;
        align-items: center;
        justify-content: center;
    }
}

.containerOtional {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    max-height: 500px;
    z-index: 1;
    left: 300px;
    top: 75px;
    padding: 7px 0;
    background: #353a49;
    outline: 2px solid #41485e;
    box-shadow: 0px 0px 12.3px rgba(0, 0, 0, 0.49);
    border-radius: 8px;
    overflow: auto;

    & > button {
        width: 100%;
        padding: 8px 20px;
        gap: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff;
    }

    &::after {
        content: '';
        position: absolute;
        top: -65px;
        right: 0px;
        width: 50px;
        height: 70px;
        z-index: 4444444444444;
        background: transparent;
        transition: var(--transition);
    }
}
