.inputContainer {
    position: relative;

    display: flex;

    flex-direction: column;

    gap: 2px;

    align-items: flex-start;

    width: -webkit-fill-available;

    padding: 10px 16px;

    cursor: pointer;
    outline: transparent solid 2px;

    background: var(--border);
    border-radius: 8px;

    transition: var(--transition);

    &:hover {
        outline: var(--text-secondary) solid 2px;
    }
}

.label {
    display: flex;

    gap: 5px;

    align-items: center;

    font-size: 12px;
    font-weight: 400;

    line-height: 140%;

    color: #fff;
}

.textInput {
    width: -webkit-fill-available;

    font-size: 18px;
    font-weight: 500;

    line-height: 140%;

    color: var(--text-secondary);

    word-break: break-word;

    background: transparent;

    transition: var(--transition);

    &.activeText {
        color: var(--success);
    }

    &.inactiveText {
        color: var(--danger);
    }
}

.error {
    font-size: 0.75rem;

    color: var(--warning);

    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;

        transform: translateY(-5px);
    }

    to {
        opacity: 1;

        transform: translateY(0);
    }
}

.control {
    display: flex;

    flex-direction: row;

    gap: 6px;

    width: -webkit-fill-available;
}

.controlButton {
    position: relative;

    padding: 1px;

    cursor: pointer;

    background: transparent;

    transition: var(--transition);

    &:hover {
        background: transparent;

        svg {
            color: #fff;
        }
    }

    svg {
        color: var(--text-secondary);

        transition: var(--transition);
    }
}

.activeText {
    color: var(--success);
}

.inactiveText {
    color: var(--danger);
}
