.inputContainer {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    width: -webkit-fill-available;
    background: var(--border);
    border-radius: 8px;
    gap: 2px;
    outline: transparent solid 2px;
    transition: var(--transition);

    &:hover {
        outline: var(--text-secondary) solid 2px;
    }
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
    display: flex;
    gap: 5px;
    align-items: center;
}

.textInput {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-secondary);
    background: transparent;
    transition: var(--transition);
    word-break: break-word;
    width: -webkit-fill-available;

    &.activeText {
        color: var(--success);
    }

    &.inactiveText {
        color: var(--danger);
    }
}

.error {
    font-size: 0.75rem;
    color: var(--warning);
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.control {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: -webkit-fill-available;
}

.controlButton {
    position: relative;
    cursor: pointer;
    padding: 1px;
    background: transparent;
    transition: var(--transition);

    &:hover {
        background: transparent;

        svg {
            color: #fff;
        }
    }

    svg {
        transition: var(--transition);
        color: var(--text-secondary);
    }
}

.activeText {
    color: var(--success);
}

.inactiveText {
    color: var(--danger);
}
