.customCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 9px 5px 20px;
    width: -webkit-fill-available;

    background: #262a36;
    border-radius: 8px;
    cursor: pointer;

    &:hover > .checkboxLabel {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;

        color: #616985;
    }

    .checkboxInput {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .customBox {
        width: 12px;
        height: 12px;

        background: #575f7a;
        border-radius: 4px;
        transition: var(--transition);

        &.checked {
            background-color: #fff;
        }
    }

    .checkboxLabel {
        transition: var(--transition);
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;

        color: #575f7a;
    }
}
