.wrapper {
    display: contents;
}

.content {
    display: flex;

    flex-direction: column;

    gap: 5px;

    max-width: 310px;

    padding: 4px 2px;
}

.title {
    font-size: 14px;
    font-weight: 800;

    color: #fff;
}

.description {
    font-size: 13px;
    font-weight: 500;

    line-height: 1.35;

    color: rgb(255, 255, 255, 0.72);
}

.action {
    font-size: 12px;
    font-weight: 700;

    line-height: 1.35;

    color: #ffb7b7;
}
