.extensionNav {
    min-width: 0;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
    align-items: center;
    background: #383e52;
    border-bottom: 1px solid #3d445b;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 10;
    top: 66px;
    display: block;

    & > .extensionNavContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-width: 0;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0px 40px;
        height: 65px;
        gap: 25px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }
}

.extensionNavButton {
    transition: var(--transition);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    border: none;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    color: #858da9;
    flex: 0 0 auto;
    white-space: nowrap;

    &::after {
        transition: var(--transition);
        content: '';
        position: absolute;
        display: block;
        bottom: 0px;
        width: 100%;
        height: 0px;
        background: #98ffd6;
    }

    &:hover {
        cursor: pointer;
        color: #98ffd6;

        &::after {
            bottom: -1px;
            height: 4px;
        }
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            cursor: default;
            color: #89b4a3;

            &::after {
                bottom: 0px;
                height: 0px;
            }
        }
    }
}

.activeTabButton {
    color: #98ffd6;

    &::after {
        bottom: -1px;
        height: 4px;
        background: #98ffd6;
    }
}
