@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --white: #f0f0f0;
    --primary: #ffcc66;
    --red: #ed4245;

    --medium: #131317;
    --mediumer: #1c1c22;
    --dark: #08070d;

    --gray: #777;
    --grayer: #25252d;
    --Main: #16181e;
    --MainBG: #232631;

    --BorderColor: #363944;
    --BorderRadius: 8px;

    --textInputContainer: #a3abc6;
    --inputColor: #16181e;
    --inputPlaceholderColor: #909bbe;

    --HeaderBarTextColor: #e4e5ea;

    --NavigationOnColor: #3e424c;
    --NavigationIconDefaultSvgColor: #8f94a8;

    --downloadColor: #75ff9c;
    --download: #2a3e3900;
    --downloadH: #1b2e2a;

    --panelsColor: #292c36;

    --transition: cubic-bezier(0.45, 0.65, 0.395, 1) all 0.2s;

    --online: #afffad;
}

* {
    user-select: none;
    font-family: 'Nunito';
    font-style: normal;
    max-width: -webkit-fill-available;
}

.discord_svg__noStroke,
.discordLogin_svg__noStroke,
.discordAuth_svg__noStroke {
    stroke: none;
}

#_rht_toaster {
    inset: 50px 6px !important;
    z-index: 9000 !important;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

a.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

a.active > button {
    background: #3e6aff;
    border: none;

    & > svg {
        fill: white;
    }
}

body {
    display: flex;
    background: var(--Main);
    color: var(--color1);
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: -webkit-fill-available;
}

:focus-visible {
    outline: 1px double #ffffff;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.highlight {
    opacity: 1;
    transition: all 0.3s ease;
    transform: scale(1);
}

.dimmed {
    opacity: 0.5;
    transition: all 0.3s ease;
    transform: scale(0.95);
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 322.2289123535156px;
        stroke-dasharray: 322.2289123535156px;
    }

    100% {
        stroke-dashoffset: 644.4578247070312px;
        stroke-dasharray: 322.2289123535156px;
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(228, 229, 234);
    }
}

.discordAuth_svg__svg-elem-1 {
    animation:
        animate-svg-stroke-1 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 35.941123962402344px;
        stroke-dasharray: 35.941123962402344px;
    }

    100% {
        stroke-dashoffset: 71.88224792480469px;
        stroke-dasharray: 35.941123962402344px;
    }
}

.discordAuth_svg__svg-elem-2 {
    animation:
        animate-svg-stroke-2 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8500000000000001s both;
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 175.69618225097656px;
        stroke-dasharray: 175.69618225097656px;
    }

    100% {
        stroke-dashoffset: 351.3923645019531px;
        stroke-dasharray: 175.69618225097656px;
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(228, 229, 234);
    }
}

.discordAuth_svg__svg-elem-3 {
    animation:
        animate-svg-stroke-3 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
}

[class*='markdownText'] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e5e7eb;
    background: transparent;
    line-height: 1.7;
    padding: 24px;
}

[class*='markdownText'] h1,
[class*='markdownText'] h2,
[class*='markdownText'] h3 {
    font-weight: 700;
    margin: 32px 0 16px;
    line-height: 1.3;
    color: #98ffd6;
}

[class*='markdownText'] h1 {
    font-size: 2.25rem;
    border-bottom: 2px solid #a1ffd998;
    padding-bottom: 6px;
}

[class*='markdownText'] h2 {
    font-size: 1.75rem;
}

[class*='markdownText'] h3 {
    font-size: 1.4rem;
}

[class*='markdownText'] p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 500;
}

[class*='markdownText'] ul,
[class*='markdownText'] ol {
    margin: 0;
    padding: 0px 20px;
}
[class*='markdownText'] li {
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
}

[class*='markdownText'] a {
    font-weight: 500;
    color: #98ffd6;
    text-decoration: none;
    border-bottom: 1px dashed #98ffd6;
    transition:
        color 0.2s,
        border-bottom-color 0.2s;
}
[class*='markdownText'] a:hover {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

[class*='markdownText'] img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

[class*='markdownText'] blockquote {
    background: rgba(138, 174, 255, 0.1);
    padding: 16px 20px;
    margin: 24px 0;
    border-left: 4px solid #98ffd6;
    color: #e7fff5;
    font-style: italic;
    border-radius: 4px;
}
[class*='markdownText'] blockquote p {
    margin: 0;
}

[class*='markdownText'] code {
    background: #3b4154;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    text-wrap: auto;
    font-weight: 500;
}

[class*='markdownText'] pre {
    background: #3b4154;
    padding: 16px;
    margin: 24px 0;
    border-radius: 6px;
    overflow-x: auto;
}
[class*='markdownText'] pre code {
    display: block;
    white-space: pre;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    color: #f0f0f0;
    text-wrap: auto;
    font-weight: 500;
}

[class*='markdownText'] table {
    width: 100%;
    border-collapse: collapse;
    margin: 24px 0;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 6px;
    overflow: hidden;
}
[class*='markdownText'] th,
[class*='markdownText'] td {
    padding: 12px 16px;
    text-align: left;
}
[class*='markdownText'] th {
    background: rgba(255, 255, 255, 0.08);
    color: #e0e7ff;
    font-weight: 500;
    font-weight: 500;
}
[class*='markdownText'] tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.02);
}

[class*='markdownText'] hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 32px 0;
}

[class*='markdownText'] pre::-webkit-scrollbar {
    height: 6px;
}
[class*='markdownText'] pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
[class*='markdownText'] pre::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}
