/* src/pages/users/users.module.scss */

.searchContainer {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #363944;
    padding: 20px 30px 0px;
    gap: 30px;
    background-size: cover !important;

    & > .titlePage {
        font-weight: 900;
        font-size: 23px;
        line-height: 140%;

        color: #ffffff;
    }

    & > .BoxContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        & > .searchBoxContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 14px 23px;
            gap: 10px;
            width: -webkit-fill-available;

            background: rgb(20 21 24 / 50%);
            border-radius: 16px;

            & > .searchInput {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: none;
                background: none;
                padding-left: 53px;

                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                transition: var(--transition);
                border-radius: 16px;

                &::placeholder {
                    transition: var(--transition);
                    color: #575b6d;
                }

                color: #ffffff;

                &:focus {
                    outline: none;
                    padding-left: 23px;
                    background: #474d61;

                    &::placeholder {
                        color: #595f74 !important;
                    }
                }

                &:hover {
                    padding-left: 23px;
                    background: #474d61;

                    &::placeholder {
                        color: #6f778f;
                    }
                }
            }
        }

        & > .userNav {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            gap: 8px;
            width: -webkit-fill-available;

            & > .userNavContainer {
                display: flex;
                flex-direction: row;
                align-items: center;

                & > .userNavButton {
                    transition: var(--transition);
                    box-sizing: border-box;
                    position: relative;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 15px;
                    gap: 10px;

                    border: none;
                    background: transparent;
                    color: #959dba;

                    &::after {
                        transition: var(--transition);
                        content: '';
                        position: absolute;
                        display: block;
                        bottom: 0px;
                        width: -webkit-fill-available;
                        height: 0px;
                        background: #3468f2;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #ffffff;

                        &::after {
                            bottom: -1px;
                            height: 2px;
                        }
                    }

                    &:disabled {
                        opacity: 0.5;

                        &:hover {
                            cursor: not-allowed;
                            color: #959dba;

                            &::after {
                                bottom: 0px;
                                height: 0px;
                            }
                        }
                    }
                }

                & > .activeSort {
                    color: #ffffff;

                    &::after {
                        bottom: -1px;
                        height: 2px;
                        background: #3468f2;
                    }
                }
            }
        }
    }
}

.loading {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.searchInput {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.userPage {
    width: -webkit-fill-available;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.userGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.userCard {
    cursor: pointer;
    background: #292c36;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    outline: 0px solid transparent;

    &:hover {
        background: #2f323d;
        outline: 4px solid #6a728a;
        box-shadow: 0px 0px 15px #6a728a !important;
    }
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
}

.userAvatar {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}

.userDate {
    font-size: 14px;
    color: #b6c7ff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userBadges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.badge {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.noResults {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 0;
}

.pagination {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.ellipsis {
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 0px 5px;
    transition: var(--transition);
}

.paginationButtonLR {
    width: fit-content;
    height: 30px;
    background-color: #363944;
    border-radius: 18px;
    transition: var(--transition);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.paginationButton {
    padding: 0px 11px;
    width: fit-content;
    height: 30px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 18px;
}

.paginationButtonLR,
.paginationButton {
    &.active {
        background-color: #4c79ff;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: #4c79ff;
    }
}

.tarckInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trackButton {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #3468f2;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: var(--transition);

    &:hover {
        background-color: #2d56c5;
    }
}
