.extensionNav {
    min-width: 100%;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
    align-items: center;
    background: rgba(56, 62, 82, 0.9411764706);
    border-bottom: 1px solid #3d445b;
    backdrop-filter: blur(50px);
    left: 0;
    right: 0;
    position: sticky;
    z-index: 10;
    top: 66px;
    display: grid;

    & > .extensionNavContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: -webkit-fill-available;
        overflow: scroll;
        padding: 0px 40px;
        height: 65px;
        gap: 25px;
    }
}

.extensionNavButton {
    transition: var(--transition);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    border: none;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    color: #858da9;

    &::after {
        transition: var(--transition);
        content: '';
        position: absolute;
        display: block;
        bottom: 0px;
        width: -webkit-fill-available;
        height: 0px;
        background: #98ffd6;
    }

    &:hover {
        cursor: pointer;
        color: #98ffd6;

        &::after {
            bottom: -1px;
            height: 4px;
        }
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            cursor: default;
            color: #89b4a3;

            &::after {
                bottom: 0px;
                height: 0px;
            }
        }
    }
}

.activeTabButton {
    color: #98ffd6;

    &::after {
        bottom: -1px;
        height: 4px;
        background: #98ffd6;
    }
}
