.badge.badge {
    gap: 6px;

    min-height: 24px;

    padding: 4px 7px;

    font-size: 12px;
    font-weight: 600;

    line-height: 16px;

    color: var(--rating);

    background: color-mix(in srgb, var(--rating) 15%, transparent);
    border-radius: 6px;
}

.badge.badge svg {
    flex: 0 0 16px;

    width: 16px;
    height: 16px;
}
