.textInputContainer {
    position: relative;

    display: flex;

    flex-direction: column;

    gap: 2px;

    align-items: flex-start;

    width: -webkit-fill-available;

    padding: 0;

    .error {
        padding: 5px 10px;

        font-weight: 900;

        color: black;

        background: #ffcb38;
        border-radius: 2px;
    }

    > div {
        font-size: 12px;
        font-weight: 700;

        line-height: 140%;

        color: var(--textInputContainer);

        text-transform: uppercase;
    }

    .charCount {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 9246;

        padding: 2px 4px;
        margin: 3px;

        font-size: 9px;
        font-weight: 400;

        line-height: 140%;

        color: var(--textInputContainer);

        background: var(--inputColor);
        border: 1px solid var(--NavigationOnColor);
        border-radius: 4px;

        opacity: 0;

        transition: var(--transition);
    }
}

.styledInput {
    position: relative;

    display: flex;

    flex-direction: row;

    gap: 10px;

    align-items: center;

    width: -webkit-fill-available;

    padding: 7px 14px;

    overflow: auto;

    font-size: 14px;
    font-weight: 400;

    line-height: 140%;

    color: #bdc5e2;

    background: var(--border);
    border: none;
    border-radius: 8px;

    &::placeholder {
        color: transparent;
    }

    &:focus-visible {
        outline: 0 double transparent !important;
    }

    &:focus {
        color: white;

        background: #1c212b;

        ~ .charCount {
            opacity: 1;
        }
    }
}
