.scrollWrapper {
    position: relative;

    overflow: hidden;
}

.scrollContent {
    overflow-y: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.scrollbarTrack {
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 5px;
    z-index: 9999;

    display: flex;

    width: 0;
    height: -webkit-fill-available;

    padding: 0 5px;
    margin: 0 var(--scrollbar-track-margin, 5px);

    background-color: #0000;

    transition: var(--transition);

    &:hover {
        width: 5px;
    }
}

.scrollbarTrackHover {
    width: 5px;

    & > .scrollbarThumb {
        background-color: color-mix(in srgb, var(--text-secondary) 59%, transparent);
    }
}

.scrollbarThumb {
    position: absolute;
    z-index: 9999;

    width: 100%;

    cursor: pointer;

    background-color: color-mix(in srgb, var(--text-secondary) 32%, transparent);
    border-radius: 3px;

    transform: translateY(0);

    transition: var(--transition);
}

.scrollbarTrack.visible {
    z-index: 9999;

    background-color: color-mix(in srgb, var(--text-secondary) 32%, transparent);
}

.scrollbarThumb:hover {
    background-color: color-mix(in srgb, var(--text-secondary) 59%, transparent);
}
