.containerFix {
    border-radius: 20px 20px 0px 0px;
    overflow: overlay;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    & > .bannerBackground {
        transition: var(--transition);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: -webkit-fill-available;
        background-size: 100% !important;
        background-position: 50% 50% !important;
        position: relative;

        & > .hideButton {
            opacity: 0.25;
            transition: var(--transition);
            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
            gap: 10px;

            position: absolute;
            right: 30px;
            bottom: 22px;
            border: none;

            background: #272a33;
            color: #ffffff;
            border-radius: 239px;

            &:hover {
                background: #333742;
            }
        }

        &:hover {
            & > .hideButton {
                opacity: 1;
            }
        }
    }

    & > .userInfo {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 30px;
        width: -webkit-fill-available;
        justify-content: space-between;
        background: #292c36;

        &::after {
            content: "";
            background: #363944;
            width: -webkit-fill-available;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        & > .userHeader {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: -webkit-fill-available;
            padding: 0px;
            gap: 2px;

            & > .userContainerLeft {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 15px;

                width: -webkit-fill-available;

                & > .userImage {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    outline: 5px solid #292c36;
                    border-radius: 16px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    z-index: 0;
                    top: -37px;
                    object-fit: cover;
                }

                & > .userInfoText {
                    padding-left: 114px;

                    & > .userName {
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 110%;
                        display: flex;
                        gap: 5px;
                        color: #ffffff;

                        color: #ffffff;

                        & > .userBadges {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            gap: 3px;

                            & > .badge {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    & > .userUsername {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 110%;

                        color: #e1e1e1;
                    }
                }
            }
        }

        & > .rightContainer {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 15px;
            width: fit-content;
            height: fit-content;

            & > .miniButtonsContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                background: rgba(129, 141, 179, 0.22);
                border-radius: 8px;
                overflow: hidden;
                justify-content: flex-end;
            }

            & > .defaultButton {
                /* Здесь можно добавить специфические стили для defaultButton, если они есть */
            }

            & > .miniButton {
                /* Здесь можно добавить специфические стили для miniButton, если они есть */
            }
        }
    }
}

/* Дополнительные стили для используемых кнопок, если необходимо */
.defaultButton {
    transition: var(--transition);
    background-color: #3468f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    font-weight: 700;
    font-size: 14px;
    line-height: 140%;

    color: #ffffff;

    &:hover {
        background-color: rgb(37, 83, 209);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            background-color: #3468f2;
        }
    }
}

.miniButton {
    transition: var(--transition);
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    // background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            background: transparent;
        }
    }
}
