.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    z-index: 9999;
    transition: all 0.3s ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
}

.overlay.open {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.overlay.closed {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
}

.modalContainer {
    position: relative;
    background: #1e2027;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    min-height: 650px;
    overflow: auto;
    outline: 1px #3e424c solid;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    opacity: 0;
    transform: translateY(-40px);
}

.modalContainer.open {
    opacity: 1;
    transform: translateY(0);
}

.modalContainer.closed {
    opacity: 0;
    transform: translateY(-40px);
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 2;

    &:hover {
        color: #ffdddd;
    }
}

.modalContent {
    display: flex;
    flex-direction: column;
}

.bannerBackground {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    transition: var(--transition, 0.3s);
    border-radius: 8px 8px 0 0;
}

.hideButton {
    opacity: 0.25;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background: #272a33;
    color: #ffffff;
    border-radius: 50%;

    &:hover {
        background: #333742;
        opacity: 1;
    }
}

.userInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    justify-content: space-between;
    background: #292c36;

    &::after {
        content: '';
        background: #363944;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.buttonNowPlaying {
    background: #e64988;
    padding: 15px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
}

.userHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: -webkit-fill-available;
}

.userContainerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: relative;

    .userImage {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -64px;

        .avatarWrapper {
            outline: 5px solid #292c36;
            border-radius: 16px;
            object-fit: cover;
            background: white;
        }

        .statusIndicator {
            --sizeStatus: 18px;
            position: absolute;
            bottom: -5px;
            right: -5px;
            width: var(--sizeStatus);
            height: var(--sizeStatus);
            border-radius: 50%;
            outline: 6px solid #292c36;
            box-sizing: border-box;
            cursor: pointer;
        }
    }

    .userInfoText {
        padding-left: 114px;

        .userName {
            font-weight: 900;
            font-size: 20px;
            line-height: 110%;
            display: flex;
            gap: 5px;
            color: #ffffff;

            .userBadges {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3px;

                .badge {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .userUsername {
            font-weight: 500;
            font-size: 12px;
            line-height: 110%;
            color: #e1e1e1;
        }
    }
}

.rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.defaultButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;
    
    color: #fff;
    background: #363b49;
    border-radius: 8px;

    &:hover {
        background-color: #444956;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            background-color: #363b49;
        }
    }
}

.miniButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;
    
    color: #fff;
    background: #363b49;
    border-radius: 8px;

    &:hover {
        background-color: #444956;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            background-color: #363b49;
        }
    }
}

.tarckInfo {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.trackButton {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    font-weight: 600;
    background-color: #e64988;
    border: none;
    border-radius: 44px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: var(--transition);

    &:hover {
        background-color: #d13d78;
    }
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
}
