.devPage {
    background-color: #1F212B;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .statBlock {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            font-size: 14px;
            color: #a0a0a0;
        }

        .value {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.chartWrapper {
    height: 120px;
    position: relative;
}

.pulseDot {
    fill: #a276ff;
    stroke-width: 1;
    transform-origin: center;
    pointer-events: none;
}
