.userRPC {
    display: flex;

    flex-direction: column;

    gap: 4px;

    align-items: flex-start;

    width: -webkit-fill-available;

    padding: 9px;

    background: var(--border);
    border-radius: 8px;

    .status {
        font-size: 12px;
        font-weight: 800;

        line-height: 16px;

        color: var(--text-primary);
    }

    .statusRPC {
        display: flex;

        flex-direction: column;

        gap: 10px;

        align-items: flex-start;

        width: -webkit-fill-available;

        padding: 0;

        border-radius: 10px;

        .flex_container {
            position: relative;

            display: flex;

            flex-direction: row;

            gap: 10px;

            align-items: flex-start;

            width: -webkit-fill-available;
            height: 64px;

            padding: 0;

            .img {
                --imgSize: 64px;
                width: var(--imgSize);
                height: var(--imgSize);

                background: var(--surface-elevated);
                border-radius: var(--BorderRadius);
            }

            .gap {
                display: flex;

                flex-direction: column;

                gap: 1px;

                align-items: flex-start;
                justify-content: center;

                width: 245px;
                height: -webkit-fill-available;

                padding: 3px 0;

                .name {
                    flex: none;

                    overflow: hidden;
                    text-overflow: ellipsis;

                    font-size: 14px;
                    font-weight: 700;

                    line-height: 19px;

                    color: var(--text-primary);

                    white-space: nowrap;
                }

                .time {
                    flex: none;

                    overflow: hidden;
                    text-overflow: ellipsis;

                    font-size: 11px;
                    font-weight: 600;

                    line-height: 15px;

                    color: var(--text-primary);

                    white-space: nowrap;
                }

                .timeline {
                    display: flex;

                    gap: 6px;

                    align-items: center;

                    width: -webkit-fill-available;

                    margin-top: auto;

                    font-size: 11px;
                    font-weight: 600;

                    line-height: 15px;

                    color: var(--text-primary);

                    .timeline_line {
                        display: flex;

                        flex-direction: column;

                        gap: 10px;

                        align-items: flex-start;

                        width: -webkit-fill-available;
                        height: 2px;

                        padding: 0;

                        background: var(--text-secondary);

                        & > .timeline_progress {
                            height: 2px;

                            background: var(--text-primary);
                        }
                    }
                }
            }
        }
    }

    .buttonRpc {
        display: flex;

        flex-direction: column;

        gap: 5px;

        width: -webkit-fill-available;

        .button {
            box-sizing: border-box;
            display: flex;

            flex-direction: row;

            gap: 10px;

            align-items: center;
            justify-content: center;

            width: -webkit-fill-available;

            padding: 9px 0;

            font-size: 12px;
            font-weight: 700;

            line-height: 16px;

            color: var(--text-primary);

            cursor: pointer;

            background: var(--text-muted);
            border-radius: 4px;

            transition: var(--transition);

            &:hover {
                background: var(--text-secondary);
            }
        }
    }
}
