.card {
    position: relative;
    cursor: pointer;
    width: 100%;
    background: #2b2e39;
    border-radius: 8px;
    overflow: hidden;
    transition: var(--transition);
    outline: 2px solid transparent;

    &:hover {
        outline: 2px solid #6a728a;

        & > .card__infoIcon {
            opacity: 1;
        }
    }

    .card__checkMark {
        position: absolute;
        top: 7px;
        left: 7px;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        padding: 2px 4px;
        outline: 2px solid #292c36;
        svg {
            width: 18px;
            height: 18px;
        }
    }

    .card__checkMarkTheme {
        background: #92ffaac7;
    }

    .card__checkMarkScript {
        background-color: #ffd992;
    }

    .card__infoIcon {
        transition: var(--transition);
        opacity: 0;
        display: flex;
        align-items: center;
        padding: 2px 4px;
        position: absolute;
        right: 7px;
        top: 7px;
        color: #292c36;
        background: #bbc3de;
        border-radius: 5px;
        z-index: 2;
        outline: 2px solid #292c36;
        svg {
            display: block;
        }
    }

    .card__infoTooltip {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: -webkit-fill-available;
        background: #242733f2;
        display: flex;
        color: #fff;
        font-size: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        z-index: 1;
        aspect-ratio: 16 / 9;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.3s ease-in-out;

        p {
            margin: 4px 0;
            strong {
                color: #bbc3de;
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    .card__ratio169 {
        aspect-ratio: 16 / 9;
    }

    .card__banner {
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px 8px 0 0;
    }

    .card__bottom {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 0;
        margin-top: auto;
    }

    .card__divider {
        width: 100%;
        height: 1px;
        background: #3e4356;
    }

    .card__bottomLeft {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 0 8px;

        .card__boxTitle {
            position: relative;
            min-width: 0%;

            .card__addonTitle {
                font-size: 14px;
                font-weight: 700;
                color: #bbc3de;
                hyphens: auto;
                display: block;
                width: -webkit-fill-available;
                max-width: -webkit-fill-available;
                position: relative;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .card__themeImage {
            width: 18px;
            height: 18px;
            border-radius: 4px;
            background-position: 50% 50%;
            background-size: cover;
        }
    }

    .card__bottomRight {
        display: flex;
        align-items: center;
        padding: 0 8px;
        gap: 6px;
        justify-content: space-between;
        font-size: 11px;
        font-weight: 600;
        color: #bbc3de;

        .card__typeBadge {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .card__typeBadgeTheme {
            color: #92ffa9;
        }

        .card__typeBadgeScript {
            color: #ffd992;
        }

        .card__location {
            font-size: 10px;
            line-height: 130%;
            font-weight: 600;
        }
    }

    .card__warnTooltip {
        position: absolute;
        top: 1px;
        bottom: 57px;
        left: 1px;
        right: 1px;
        background: #ffd32b;
        color: #000;
        font-size: 12px;
        border-radius: 7px 7px 0 0;
        padding: 6px 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        animation: warning 1.3s infinite ease-in-out;
        ul {
            font-size: 12px;
            margin: 4px 0 0;
            padding-left: 20px;
        }

        @keyframes warning {
            0% {
                background: #ffd012cb;
            }
            50% {
                background: #ffd012ab;
            }
            100% {
                background: #ffd012cb;
            }
        }
    }
}
