.extensionCard {
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;
    isolation: isolate;

    width: -webkit-fill-available;
    height: 338px;

    background: #292c36;
    border-radius: 8px;
    overflow: hidden;
    outline: 0px solid transparent;

    &:hover {
        gap: 25px;
        background: #2f323d;
        outline: 4px solid #6a728a;
        box-shadow: 0px 0px 15px #6a728a !important;

        & > .imageBanner {
            background-size: 120%;
        }

        & > .themeImage {
            width: 90px;
            height: 90px;
            outline: 7px solid #2f323d;
        }

        & > .metadataInfoContainer > .metadataInfo > .detailInfo {
            width: 100%;
            opacity: 1;
        }
        & > .triggerContextMenu {
            opacity: 1;
        }
    }

    & > .imageBanner {
        transition: var(--transition);
        width: -webkit-fill-available;
        height: -webkit-fill-available;

        border-radius: 8px;

        background-position: 50% 50% !important;
        background-size: 100%;
        background-repeat: no-repeat !important;
    }

    & > .themeImage {
        transition: var(--transition);
        position: absolute;
        width: 80px;
        height: 80px;
        left: 15px;
        bottom: 150px;

        outline: 7px solid #292c36;
        border-radius: 12px;

        background-position: 50% 50% !important;
        background-size: cover;
        background-repeat: no-repeat !important;
    }

    & > .metadataInfoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: -webkit-fill-available;
        left: 15px;
        right: 15px;
        top: 10px;

        & > .metadataInfo {
            display: flex;
            flex-direction: column;
            gap: 4px;

            & > .detailInfo {
                transition: var(--transition);
                display: flex;
                opacity: 0;
                padding: 2px 10px;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                max-width: fit-content;
                width: 0%;
                overflow: hidden;

                background: rgba(0, 0, 0, 0.603);
                backdrop-filter: blur(2.5px);
                border-radius: 36px;

                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 900;
                font-size: 10px;
                line-height: 14px;

                display: flex;
                align-items: center;
                text-transform: uppercase;

                color: #ffffff;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & > .themeLocation {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 10px;
            gap: 8px;
            width: fit-content;

            background: rgba(21, 44, 94, 0.76);
            backdrop-filter: blur(2.5px);
            border-radius: 36px;

            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 900;
            font-size: 10px;
            line-height: 14px;

            display: flex;
            align-items: center;
            text-transform: uppercase;

            color: #ffffff;
        }
    }

    .triggerContextMenu {
        transition: var(--transition);
        background: #6a728a56;
        opacity: 0;
        border-radius: 8px 8px 0 0;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;
        width: fit-content;
        min-width: 50%;
        z-index: 999;
        position-area: bottom;

        &:hover {
            background: transparent;
            width: fit-content;
            min-width: 100%;
            & > .line {
                border: 2px solid #6a728a56;
            }
        }

        & > .line {
            width: 25%;
            height: 0px;
            border: 2px solid #6a728a;
            position-area: center;
            position: absolute;
            border-radius: 33px;
        }
    }

    & > .themeDetail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 15px 15px;
        gap: 5px;

        width: -webkit-fill-available;
        height: 131px;
        min-height: 131px;

        & > .detailTop {
            display: flex;
            flex-direction: column;

            & > .themeName {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 35px;

                color: #ffffff;
            }

            & > .themeAuthor {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;

                color: #bbc3de;
            }
        }

        & > .themeDescription {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #cfd6ea;
        }
    }
}
