.patchMenu {
    --widthMenu: 260px;
    position: absolute;
    top: 52px;
    color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.6117647059) 1px 2px 20px 1px;
    background: #1f222b;
    border-radius: 8px;
    padding: 7px 0;
}

.innerFunction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    color: white !important;

    font-style: normal;
    width: -webkit-fill-available;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    transition: var(--transition);

    svg {
        transform: rotate(0deg);
        transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 1.8s;
    }

    > .showButtons {
        display: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5 !important;

        &:hover {
            background: transparent !important;
            cursor: not-allowed;

            .showButtons {
                display: none;
            }
        }
    }

    &:hover {
        background: #3b4155 !important;
        position: relative;
        --spacing: 3%;

        svg {
            transform: rotate(180deg);
            transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 1.8s;
        }

        > .showButtons {
            transition: var(--transition);
            transform: translateX(calc(var(--spacing) * 30.5));
            width: var(--widthMenu);
            margin-left: var(--spacing);
            position: absolute;
            top: 0;
            color: white;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            box-shadow: rgba(0, 0, 0, 0.6117647059) 1px 2px 20px 1px;
            background: #1f222b;
            border-radius: 8px;
            padding: 7px 0;

            &::after {
                content: '';
                position: absolute;
                left: calc(0% - var(--spacing));
                width: var(--spacing);
                height: -webkit-fill-available;
                background: transparent;
            }
        }
    }
}

.contextButton {
    transition: var(--transition);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    color: white !important;
    justify-content: space-between;

    font-style: normal;
    width: var(--widthMenu) !important;
    min-width: fit-content;
    max-width: -webkit-fill-available;
    min-width: fit-content;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 140%;
    color: #ffffff;

    &:disabled {
        cursor: not-allowed !important;
        opacity: 0.5 !important;

        &:hover {
            background: transparent !important;
            cursor: not-allowed;
        }
    }

    &:hover {
        background: #3b4155 !important;
    }

    &:hover {
        & > .custom_checkbox_menu {
            & > .custom_checkbox_menu_dot {
                animation: shake 0.5s infinite;
            }
        }
    }

    @keyframes shake {
        0% { transform: translate(-0.5px, 0px) rotate(0deg); }
        10% { transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
        20% { transform: translate(0.5px, 0.5px) rotate(0.5deg); }
        30% { transform: translate(-0.5px, 0px) rotate(-0.5deg); }
        40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
        50% { transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
        60% { transform: translate(0.5px, 0px) rotate(0.5deg); }
        70% { transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
        80% { transform: translate(0.5px, 0.5px) rotate(0.5deg); }
        90% { transform: translate(-0.5px, 0px) rotate(-0.5deg); }
        100% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    }

    & > .custom_checkbox_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        gap: 10px;
        width: 14px;
        height: 14px;
        outline: 1px solid #ffffff;
        border-radius: 4px;
        justify-content: center;
        
        & > .custom_checkbox_menu_dot {
            transition: var(--transition);
            width: 8px;
            height: 8px;
            background: #ffffff00;
            border-radius: 2px;
            
            &.active {
                width: 12px;
                height: 12px;
                background: #ffffff;
            }
        }
    }
}
