.description {
    width: 360px;
    color: rgba(255, 255, 255, 0.58);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

@media (max-width: 420px) {
    .description {
        width: 300px;
    }
}
