.PextDNDModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: unset;
  height: unset;
  min-width: unset;
  min-height: unset;
}

.PextDNDModal_text {
  color: white;
  margin: 0;
}

.PextDNDModal_image {
  width: 180px;
  height: 180px;
}
