.scrollArea {
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    overflow: auto;
}

.scrollAreaInner {
    display: flex;

    flex-direction: column;

    min-height: 100%;
}

.content {
    flex: 1;

    min-height: 0;

    overflow: auto;

    background: var(--surface-primary);
}
