.nav_bar {
    display: flex;
    justify-content: center;
    color: var(--color1);
    height: fit-content;
    -webkit-app-region: drag;
    padding: 0 0 0 25px;
    width: -webkit-fill-available;
    z-index: 99999;

    .fix_size {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .app_menu {
            display: flex;
            align-items: center;
            gap: 16px;

            .logoplace {
                display: flex;
                align-items: center;
                gap: 8px;
                background: var(--Main);
                outline: solid 0px var(--Main);
                transition: var(--transition);

                &:hover {
                    border-radius: 2px;
                    background: var(--MainBG);
                    outline: solid 9px var(--MainBG);
                }

                .false {
                    transform: rotate(0deg);
                    transition: var(--transition);
                }

                .true {
                    transform: rotate(180deg);
                    transition: var(--transition);
                }

                .logoapp {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                }

                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;

                    color: var(--HeaderBarTextColor);
                }
            }

            button {
                cursor: pointer;
                -webkit-app-region: no-drag;
                background: none;
                border: none;
                font-size: 15px;
                font-weight: 500;
                color: var(--HeaderBarTextColor);
                text-align: left;

                &:hover {
                    color: white;
                }
            }
        }

        .event_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 11px;

            width: fit-content;
            height: fit-content;

            .menu {
                display: flex;
                align-items: center;
                gap: 6px;

                .badges_container {
                    -webkit-app-region: no-drag;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 5px;
                    background: #232630;
                    border-radius: 84px;
                    height: 26px;

                    .badge {
                        position: relative;
                        display: flex;

                        img {
                            transition:
                                width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
                                height 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                            width: 26px;
                            height: 26px;
                            background: transparent;
                            cursor: pointer;

                            &:hover {
                                background: #232630;
                                border-radius: 16px;
                                width: 36px;
                                height: 36px;
                            }
                        }

                        &:hover .tooltip {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    * path {
                        stroke: none;
                    }
                }

                .rpcStatus {
                    cursor: pointer;
                    position: relative;
                    -webkit-app-region: no-drag;
                    transition: var(--transition);

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 4px 14px 4px 4px;
                    gap: 14px;

                    background: #20232c;
                    border-radius: 8px;

                    &:hover {
                        background: #262a35;
                    }

                    &:hover .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }

                    & > .imageDetail {
                        position: relative;
                        display: flex;

                        & > .image {
                            display: flex;
                            box-sizing: border-box;

                            --size: 30px;
                            width: var(--size);
                            height: var(--size);
                            border-radius: 4px;

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            z-index: 0;
                        }
                    }

                    & > .rpcDetail {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 2px;

                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;

                        & > .rpcTitle {
                            min-width: 59px;
                            max-width: 135px;

                            font-weight: 900;
                            font-size: 12px;
                            line-height: 110%;

                            color: #fff;
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        & > .rpcAuthor {
                            min-width: 59px;
                            max-width: 135px;

                            font-weight: 500;
                            font-size: 10px;
                            line-height: 110%;

                            color: #fff;
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }

                .user_container {
                    cursor: pointer;
                    position: relative;
                    -webkit-app-region: no-drag;
                    transition: var(--transition);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px 14px 0px 0px;
                    gap: 7px;

                    color: var(--statusColor);
                    background: #20232c;
                    border-radius: 10px 8px 8px 10px;

                    &:hover {
                        background: #262a35;
                    }

                    &:hover .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }

                    & > .user_avatar {
                        position: relative;
                        display: flex;

                        & > .avatar {
                            display: flex;
                            box-sizing: border-box;

                            --size: 38px;
                            width: var(--size);
                            height: var(--size);
                            border-radius: 47px;

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            z-index: 0;
                        }

                        & > .status {
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                            outline: solid 3px #20232c;
                            border-radius: 50%;

                            & > .dot {
                                width: 9px;
                                height: 9px;
                                border-radius: 50%;
                                background: var(--statusColor);
                            }
                        }
                    }

                    & > .user_info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 2px;

                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;

                        & > .username {
                            min-width: 59px;
                            max-width: 85px;

                            font-weight: 900;
                            font-size: 12px;
                            line-height: 110%;

                            color: var(--statusColor);
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        & > .status_text {
                            min-width: 59px;
                            max-width: 85px;

                            font-weight: 500;
                            font-size: 10px;
                            line-height: 110%;

                            color: var(--statusColor);
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .button_container {
                display: flex;

                .button_title {
                    transition: var(--transition);
                    cursor: pointer;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    border: 0;
                    padding: 16px;
                    background: transparent;
                    -webkit-app-region: no-drag;

                    &:hover {
                        background: var(--MainBG);
                    }
                }
            }
        }
    }
}

.tooltip {
    visibility: hidden;

    width: auto;
    max-width: fit-content;
    white-space: nowrap;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25);
    background: var(--Main);
    outline: 1px solid var(--BorderColor);
    border-radius: var(--BorderRadius);
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    position: absolute;
    z-index: 99999999999;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;
}
