.nav_bar {
    display: flex;
    justify-content: center;
    color: var(--color1);
    height: fit-content;
    -webkit-app-region: drag;
    padding: 0 0 0 25px;
    width: -webkit-fill-available;
    z-index: 9997;

    .fix_size {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .app_menu {
            display: flex;
            align-items: center;
            gap: 16px;

            .logoplace {
                display: flex;
                align-items: center;
                gap: 8px;
                background: var(--Main);
                outline: solid 0px var(--Main);
                transition: var(--transition);

                &:hover {
                    border-radius: 2px;
                    background: var(--MainBG);
                    outline: solid 9px var(--MainBG);
                }

                .false {
                    transform: rotate(0deg);
                    transition: var(--transition);
                }

                .true {
                    transform: rotate(180deg);
                    transition: var(--transition);
                }

                .logoapp {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                }

                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;

                    color: var(--HeaderBarTextColor);
                }
            }

            button {
                cursor: pointer;
                -webkit-app-region: no-drag;
                background: none;
                border: none;
                font-size: 15px;
                font-weight: 500;
                color: var(--HeaderBarTextColor);
                text-align: left;

                &:hover {
                    color: white;
                }
            }
        }

        .event_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 11px;

            width: fit-content;
            height: fit-content;

            .menu {
                display: flex;
                align-items: center;
                gap: 6px;
                .rpcStatus {
                    cursor: pointer;
                    position: relative;
                    -webkit-app-region: no-drag;
                    transition: var(--transition);

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 4px 14px 4px 4px;
                    gap: 7px;

                    background: #20232c;
                    border-radius: 8px;

                    &:hover {
                        background: #262a35;
                    }

                    & > .imageDetail {
                        position: relative;
                        display: flex;

                        & > .image {
                            display: flex;
                            box-sizing: border-box;

                            --size: 30px;
                            width: var(--size);
                            height: var(--size);
                            border-radius: 4px;

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            z-index: 0;
                        }
                    }

                    & > .rpcDetail {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 2px;

                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;

                        & > .rpcTitle {
                            min-width: 59px;
                            max-width: 135px;

                            font-weight: 900;
                            font-size: 12px;
                            line-height: 110%;

                            color: #fff;
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        & > .rpcAuthor {
                            min-width: 59px;
                            max-width: 135px;

                            font-weight: 500;
                            font-size: 10px;
                            line-height: 110%;

                            color: #fff;
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }

                .rpcCard {
                    position: absolute;
                    top: 55px;
                    right: 167px;
                    z-index: 99997;
                    width: 340px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 8px;
                    padding: 16px 16px 0 16px;
                    height: 400px;
                    overflow: hidden;
                    box-shadow: #0000009c 1px 2px 20px 1px;
                    background: #2b3040;

                    &::after {
                        height: 18px;
                        position: absolute;
                        content: '';
                        bottom: 361px;
                        right: 0;
                        left: 0;
                        background: linear-gradient(
                            180deg,
                            #2b3040 38%,
                            #2b304000 100%
                        );
                        z-index: 1;
                        pointer-events: none;
                    }

                    & > .titleRpc {
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 140%;

                        color: #ffffff;
                    }

                    & > .settingsContainer {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 10px 0px 16px 0px;
                        gap: 15px;
                        height: -webkit-fill-available;
                        overflow: overlay;

                        & > .options {
                            width: -webkit-fill-available;
                            padding: 0 1px;
                            gap: 8px;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                .user_container {
                    cursor: pointer;
                    position: relative;
                    -webkit-app-region: no-drag;
                    transition: var(--transition);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px 14px 0px 0px;
                    gap: 7px;

                    color: var(--statusColor);
                    background: #20232c;
                    border-radius: 15px 8px 8px 15px;

                    &:hover {
                        background: #262a35;
                    }

                    & > .user_avatar {
                        position: relative;
                        display: flex;

                        & > .avatar {
                            display: flex;
                            box-sizing: border-box;

                            --size: 38px;
                            width: var(--size);
                            height: var(--size);
                            border-radius: 47px;

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            z-index: 0;

                            object-fit: cover;
                        }

                        & > .status {
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                            outline: solid 3px #20232c;
                            border-radius: 50%;

                            & > .dot {
                                width: 9px;
                                height: 9px;
                                border-radius: 50%;
                                background: var(--statusColor);
                            }
                        }
                    }

                    & > .user_info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 2px;

                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;

                        & > .username {
                            min-width: 59px;
                            max-width: 85px;

                            font-weight: 900;
                            font-size: 12px;
                            line-height: 110%;

                            color: var(--statusColor);
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        & > .status_text {
                            min-width: 59px;
                            max-width: 85px;

                            font-weight: 500;
                            font-size: 10px;
                            line-height: 110%;

                            color: var(--statusColor);
                            text-overflow: ellipsis;
                            flex: none;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }

                .user_menu {
                    position: absolute;
                    top: 55px;
                    right: 167px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background: #1f222b;
                    border-radius: 8px;
                    overflow: hidden;
                    z-index: 99997;
                    box-shadow: #0000009c 1px 2px 20px 1px;

                    --userBanner: 345px;

                    & > .user_alert {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 10px 15px;
                        gap: 2px;

                        width: -webkit-fill-available;

                        background: #ffee71;

                        & > .alert_info {
                            width: -webkit-fill-available;
                            font-weight: 800;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;

                            color: #1f222b;
                            max-width: 360px;
                        }
                        & > .alert_reson {
                            width: -webkit-fill-available;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 15px;
                            text-align: center;

                            color: #1f222b;
                            max-width: 360px;
                        }
                    }

                    & > .user_info {
                        transition: var(--transition);
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;

                        // &:hover {
                        //     background: #242834;
                        // }

                        & > .user_banner {
                            position: relative;
                            width: calc(var(--userBanner) + 45px);
                            height: 124px;

                            flex: none;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                            z-index: 0;
                            object-fit: cover;
                            background-size: cover;
                            background-position: 50% 50%;

                            & > .banner_overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 4px;
                                background: #4c79ff;
                                width: 0%;
                                z-index: 2;
                                pointer-events: none;

                                & > .banner_loader {
                                    width: var(--progress);
                                    height: 100%;
                                    background: #4c79ff;
                                    transition: width 0.3s linear;
                                }
                            }

                            & > .hoverUpload {
                                border-radius: 0;
                            }

                            & > .badges_container {
                                -webkit-app-region: no-drag;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                background: #33384a73;
                                border-radius: 6px;
                                position: absolute;
                                right: 20px;
                                top: 10px;
                                padding: 3px;
                                gap: 3px;
                            }
                        }

                        & > .user_avatar {
                            display: flex;
                            position: absolute;
                            left: 20px;
                            top: 70px;

                            & > .overlay {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: -3px;
                                left: -3px;
                                right: -3px;
                                bottom: -3px;
                                border-radius: 100%;
                                outline: 2px solid #1b1e26;
                                z-index: 2;
                                pointer-events: none;

                                & > .loader {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    background: conic-gradient(
                                        #4c79ff 0% var(--progress),
                                        transparent var(--progress) 100%
                                    );
                                    mask: radial-gradient(
                                        farthest-side,
                                        transparent calc(100% - 4px),
                                        black 0
                                    );

                                    z-index: 3;
                                }
                            }

                            & > .avatar {
                                display: flex;
                                box-sizing: border-box;

                                --size: 85px;
                                width: var(--size);
                                height: var(--size);
                                border-radius: 100px;

                                outline: 4px solid #1b1e26;

                                flex: none;
                                order: 0;
                                flex-grow: 0;
                                z-index: 0;

                                object-fit: cover;
                            }

                            & > .status {
                                pointer-events: none;
                                position: absolute;
                                bottom: 2px;
                                right: 2px;
                                outline: 4px solid #1b1e26;
                                border-radius: 50%;
                                z-index: 2;

                                & > .dot {
                                    width: 18px;
                                    height: 18px;
                                    border-radius: 100%;
                                    background: var(--statusColor);
                                }
                            }
                        }

                        & > .user_details {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 40px 20px 10px;
                            gap: 10px;
                            width: -webkit-fill-available;
                            position: relative;
                            isolation: isolate;
                            pointer-events: none;

                            & > .user_info {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                padding: 0px;
                                gap: 1px;

                                & > .username {
                                    font-weight: 900;
                                    font-size: 18px;
                                    line-height: 110%;
                                    color: #fff;
                                }
                                & > .usertag {
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 110%;
                                    color: #e1e1e1;

                                    // color: var(--statusColor);
                                }
                            }
                        }
                    }

                    & > .user_menu_buttons {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px 0px 7px;
                        width: -webkit-fill-available;

                        & > .menu_button {
                            transition: var(--transition);
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 10px 20px;
                            gap: 10px;
                            width: -webkit-fill-available;
                            border: none;

                            font-weight: 700;
                            font-size: 13px;
                            line-height: 140%;
                            background: transparent;

                            color: #fff;

                            &:hover {
                                background: #3b4155;
                            }

                            &:disabled {
                                opacity: 0.2;
                                cursor: not-allowed;

                                &:hover {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }

            .button_container {
                display: flex;

                .button_title {
                    transition: var(--transition);
                    cursor: pointer;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    border: 0;
                    padding: 15px;
                    background: transparent;
                    -webkit-app-region: no-drag;

                    &:hover {
                        background: var(--MainBG);
                    }
                }
            }
        }
    }
}

.hoverUpload {
    cursor: pointer;
    transition: var(--transition);
    opacity: 0;
    position: absolute;
    background: rgb(3 11 35 / 74%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 99px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    &:hover {
        opacity: 1;
    }
}

.badge {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 24px;
        height: 24px;
        background: transparent;
        cursor: pointer;
    }
}

.dev {
    opacity: 1;
    color: #1e2027;
    background: #fff34c;
    padding: 2px 12px;
    font-size: 12px;
    font-weight: 1000;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    justify-self: center;
    text-align: center;
    width: -webkit-fill-available;
}
