/* contextMenu.module.scss */

.contextMenu {
    align-self: self-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 5px;
    position: absolute;
    bottom: 8px;
    width: fit-content;
    height: fit-content;
    background: #353a49;
    outline: 2px solid #41485e;
    box-shadow: 0px 0px 12.3px rgba(0, 0, 0, 0.49);
    border-radius: 8px;
    justify-content: center;
    position-area: center;
    animation: fadeIn 0.3s forwards;
}

.contextMenuOut {
    animation: fadeOut 0.3s forwards;
}

.contextMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 0;
    gap: 10px;
    width: fit-content;
    height: fit-content;

    background: rgba(179, 194, 239, 0);
    border-radius: 8px;
    &:hover {
        background: rgba(179, 194, 239, 0.2);
    }
}

.contextMenuItem:last-child {
    transition: var(--transition);
    background: rgba(239, 101, 101, 0);
    &:hover {
        background: rgba(239, 101, 101, 0.2);
    }
}

.icon {
    width: 24px;
    height: 24px;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Анимация исчезновения */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}
