/* contextMenu.module.scss */

.contextMenu {
    align-items: flex-start;
    position: absolute;
    top: 78px;
    z-index: 2;
    right: 45px;
    width: fit-content;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4705882353);
    background-color: #2e313d;
    height: fit-content;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 5px;
    padding: 5px;
    animation: fadeIn 0.3s forwards;
}

.contextMenuOut {
    animation: fadeOut 0.3s forwards;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 13px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #98ffd6;
}

.contextMenuItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 13px;
    gap: 13px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #b9c5e6;
    width: -webkit-fill-available;
    transition: var(--transition);

    &:hover {
        color: #98ffd6;
        background: #51616881;
    }
}

.contextMenuItem:last-child {
    transition: var(--transition);
    &:hover {
        color: #ffa4a4;
        background: rgba(239, 101, 101, 0.2);
    }
}

.icon {
    width: 20px;
    height: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
