.inputContainer {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    width: -webkit-fill-available;
    background: #3b4052;
    border-radius: 8px;
    gap: 2px;
    outline: transparent solid 2px;

    transition: var(--transition);

    &:hover {
        outline: #8d9dd6 solid 2px;
    }
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
    display: flex;
    gap: 5px;
    align-items: center;
}

.textInput {
    position: relative;
    cursor: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #c7cfee;
    background: transparent;
    outline: none;
    transition: var(--transition);
    overflow-wrap: break-word;
    word-break: break-word;
    width: -webkit-fill-available;

    &:empty:before {
        content: attr(data-placeholder);
        color: #aaa;
        position: absolute;
        pointer-events: none;
    }

    &:not(:focus):has(br:only-child):before {
        content: attr(data-placeholder);
    }

    &:focus {
        border: 0;
    }

    &:focus-visible {
        outline: none;
    }

    &[contenteditable='true']:empty:before {
        content: attr(data-placeholder);
        color: #7d849d;
        pointer-events: none;
        display: block;
    }

    &.placeholder {
        border: 0;
        color: #7d849d;
    }

    &.focused {
        border: 0;
    }
}

.error {
    font-size: 0.75rem;
    color: #ffe55e;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.commandWrapper {
    position: absolute;
    right: 0;
    left: 0;
    width: -webkit-fill-available;
    max-height: fit-content;
    top: 100%;
    transform: translateY(10px);
    z-index: 20;
    background: #3b4052;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    animation: fadeInUp 0.2s ease-in-out;
    transition: var(--transition);
}

.commandList {
    display: flex;
    flex-direction: column;
}

.commandButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #494e65;
    padding: 10px 16px;
    cursor: pointer;
    color: #c7cfee;
    transition: var(--transition);

    &:hover {
        background: #383e51;
    }
}

.commandInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: #c7cfee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commandPreview {
    font-weight: 600;
    color: #acc8ff;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        height: calc(0% * 2);
    }
    to {
        opacity: 1;
        height: calc(100% * 2);
    }
}

.control {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: -webkit-fill-available;
}

.controlButton {
    position: relative;
    cursor: pointer;
    padding: 1px;
    background: transparent;

    &:hover {
        background: transparent;

        svg {
            color: #fff;
        }
    }

    svg {
        transition: var(--transition);
        color: #7d849d;
    }
}

.itemName {
    display: flex;
    flex-direction: column;

    & > img {
        border-radius: 4px;
    }
}
