.section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sectionHeaderEdit {
    transition: var(--transition);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    margin: 10px -20px;
    gap: 10px;
    background: #3b4052;
    outline: 2px solid #3b4052;
    border-radius: 8px;
    max-height: fit-content;
    justify-content: space-between;

    &:hover {
        background: linear-gradient(180deg, #3b4052 0%, #3e486c 100%);
        outline: 2px solid #698aff;
        box-shadow: 0px 0px 9.4px 2px rgba(105, 138, 255, 0.25);
    }
}

.sectionFieldEdit {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.sectionLabelEdit {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
}

.sectionInputEdit {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    background: 0;

    &:focus {
        border-color: #4d7dff;
        background: #4d7cff3d;
        outline: none;
    }
}

.sectionTitle {
    font-weight: 700;
    font-size: 12px;
    color: #aec1ff;
}

.addItemContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addItemSelect {
    padding: 8px 12px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;

    &:focus {
        border-color: #2ecc71;
        outline: none;
        background: #1a7c44;
    }
}

.addItemButton {
    cursor: pointer;
    transition: var(--transition);
    color: white;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;

    border-radius: 8px;

    &:hover {
        background-color: #5e6685;
        color: #d3dcff;
    }

    &:disabled {
        background-color: transparent;
        cursor: not-allowed;
    }
}

.sectionRemoveItemButtonEdit {
    cursor: pointer;
    transition: var(--transition);
    color: white;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;

    border-radius: 8px;

    &:hover {
        background-color: #7f424285;
        color: #ffa4a4;
    }

    &:disabled {
        background-color: transparent;
        cursor: not-allowed;
    }
}

.addItemDrag {
    opacity: 0.4;
    cursor: not-allowed;
    transition: var(--transition);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;

    border-radius: 8px;

    &:hover {
        color: #d3dcff;
    }
}


.sectionLine {
    width: 1px;
    height: 15px;
    background-color: #464C62;
}