.item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    padding: 10px 16px;
    width: -webkit-fill-available;
    background: #414862;
    border-radius: 8px;
    gap: 2px;
    outline: transparent solid 2px;
    transition: var(--transition);
    flex-direction: row;

    &:hover {
        outline: #8d9dd6 solid 2px;
    }
}

.itemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

.tip {
    display: flex;
    align-items: center;
}

.buttonField {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    width: 100%;
    background: #616d977a;
    border-radius: 8px;
    transition: var(--transition);

    &:hover {
        background: #6f7cab;
    }
}

.field {
    display: flex;
}

.label {
    font-size: 14px;
    color: #6a728a;
    margin-bottom: 2px;
}

.readOnlyContainer {
    display: block;
    width: 100%;
}

.itemName {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}

.itemValue {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    display: flex;
}

.btEn {
    color: #c7ffd1;
}
.btDieb {
    color: #c3d1ff;
}

.resetButton {
    position: absolute;
    left: -27px;
    top: 0;
    bottom: 0;
    align-self: center;
    transform: rotate(1deg) scale(1);
    padding: 4px;
    border: none;
    border-radius: 8px;
    background-color: #bd4747;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    height: -webkit-fill-available;
    width: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: fadeInScale 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;

    &:hover {
        transform: rotate(180deg) scale(1.05);
    }
    &:focus {
        transform: rotate(260deg) scale(1.1);
    }
}

.changeInput {
    border: none;
    font-weight: 500;
    font-size: 18px;
    background: transparent;
    color: #ffffff;

    &:focus-visible {
        outline: 0px double #ffffff;
        width: 80px;
    }
}

.changeColorPrewiev {
    border: 0 !important;
    border-radius: 8px !important;
    width: 25px !important;
    height: 25px !important;
}

.colorInput {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.colorSelectContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itemText {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-top: 5px;
}

input[type='color'] {
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25px;
    height: 25px;
    border-radius: 8px;
}
input[type='color']::-moz-color-swatch {
    border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}
input[type='color']::-webkit-color-swatch {
    border: none;
}

.input {
    padding: 6px 12px;
    color: #ffffff;
    background: #5b699329;
    border-radius: 0px;
    font-size: 14px;
    border: 0;
    border-bottom: 3px solid #5b6993;

    &:focus {
        border-color: #4d7dff;
        outline: none;
        background: #4d7cff3d;
    }
}

.buttonName {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
}
.buttonTextInput {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    background: 0;

    &:focus {
        outline: 0px;
    }
}

.itemEdit {
    transition: var(--transition);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 16px;
    gap: 10px;
    background: #3b4052;
    border-radius: 8px;
    outline: 2px solid #3b4052;
    max-height: fit-content;

    &:hover {
        background: linear-gradient(180deg, #3b4052 0%, #3e486c 100%);
        outline: 2px solid #698aff;
        box-shadow: 0px 0px 9.4px 2px rgba(105, 138, 255, 0.25);
    }
}

.itemHeaderEdit {
    transition: var(--transition);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemTypeInfoEdit {
    font-size: 14px;
    color: #bacbff;
    margin: 0 -17px;
    padding-left: 11px;
    border-left: 7px solid;
}

.addItemContainerEdit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.removeItemButtonEdit {
    cursor: pointer;
    transition: var(--transition);
    color: white;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;

    border-radius: 8px;

    &:hover {
        background-color: #7f424285;
        color: #ffa4a4;
    }

    &:disabled {
        background-color: transparent;
        cursor: not-allowed;
    }
}

.addItemDragEdit {
    opacity: 0.4;
    cursor: not-allowed;
    transition: var(--transition);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;

    border-radius: 8px;

    &:hover {
        color: #d3dcff;
    }
}

.lineEdit {
    width: 1px;
    height: 15px;
    background-color: #6d75917a;
}

.fieldEdit {
    display: flex;
    flex-direction: column;
}

.labelEdit {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
}

.inputEdit {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    width: -webkit-fill-available;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    background: 0;

    &:focus {
        color: #b8c5e9;
        outline: none;
    }

    &::placeholder {
        color: #b0c0ec;
    }
}

.resetButtonEdit {
    position: absolute;
    left: -27px;
    top: 0;
    bottom: 0;
    padding: 2px;
    border: none;
    border-radius: 6px;
    background-color: #bd4747;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    height: fit-content;
    width: 15px;
    align-items: center;
    z-index: 6;
    animation: fadeInScale 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;

    &:hover {
        transform: rotate(180deg) scale(1.05);
    }
}

.defaultParameterContainerEdit {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 16px;
    background: #6d75917a;
    border-radius: 8px;
    align-items: flex-start;

    &:hover {
        background: #5e6685;
    }
}

.defaultLabelEdit {
    pointer-events: none;
    font-size: 12px;
    color: #fff;
}

.buttonFieldEdit {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 16px;
    background: #6d75917a;
    border-radius: 8px;

    &:hover {
        background: #5e6685;
    }
}

.buttonContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.colorContainerEdit {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}
.colorInputEdit {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.sliderContainerEdit {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.fileContainerEdit {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 6px;
}

.itemTextEdit {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
}

.selectorContainerEdit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.optionRowEdit {
    display: flex;
    gap: 6px;
    color: #fff;
    align-items: center;
}

.keyEdit {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 16px;
    background: #6d75917a;
    border-radius: 8px;
    align-items: flex-start;

    &:hover {
        background: #5e6685;
    }
}

.addOptionButtonEdit {
    margin-top: 4px;
    padding: 4px 8px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;

    &:hover {
        background-color: #45a049;
    }
}

.removeOptionButtonEdit {
    background-color: #d32f2f;
    border: none;
    color: white;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 12px;

    &:hover {
        background-color: #b71c1c;
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
