.item {
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px 16px;
    gap: 10px;
    background: #3b4052;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    justify-content: space-between;
    outline: 2px solid #3b4052;

    &:hover {
        background: linear-gradient(180deg, #3b4052 0%, #3e486c 100%);
        outline: 2px solid #698aff;
        box-shadow: 0px 0px 9.4px 2px rgba(105, 138, 255, 0.25);
    }
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.itemTypeInfo {
    font-size: 14px;
    color: #ffffff;
    padding: 3px 10px;
    border-radius: 4px;
    font-weight: 700;
    background: #3468f2;
}

.removeItemButton {
    border: none;
    color: #e74c3c;
    background: #e74c3c38;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 12px;
    display: flex;
    transition: color 0.3s;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #ff9084;
    }
}

.field {
    display: flex;
}

.label {
    font-size: 14px;
    color: #6a728a;
    margin-bottom: 2px;
}

.input {
    padding: 6px 12px;
    color: #ffffff;
    background: #5b699329;
    border-radius: 0px;
    font-size: 14px;
    border: 0;
    border-bottom: 3px solid #5b6993;

    &:focus {
        border-color: #4d7dff;
        outline: none;
        background: #4d7cff3d;
    }
}

.itemName {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
}

.itemDescription {
    font-size: 14px;
    color: #6a728a;
    margin-bottom: 12px;
}

.itemValue {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    display: flex;
}

.itemText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 100%;
    margin-top: 5px;
}

.btEn {
    color: #c7ffd1;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

.btDieb {
    color: #c3d1ff;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

.buttonContainer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
}

.itemButton {
    transition: var(--transition);
    width: 22px;
    height: 22px;

    background: #c3d1ff;
    border: 4px solid #9fafe6;
    border-radius: 8px;

    &.itemButtonActive {
        background: #c7ffd1;
        border: 4px solid #8fd59b;
    }
}

.changeInput {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    background: 0;

    &:focus-visible {
        outline: 0px double #ffffff;
        width: 80px;
    }
}

.changeColorPrewiev {
    display: block;
    border: 0 !important;
    border-radius: 8px !important;
    width: 25px !important;
    height: 25px !important;
}

.resetButton {
    position: absolute;
    left: -14px;
    top: 0;
    bottom: 0;
    align-self: center;
    transition: var(--transition);
    transform: rotate(1deg);
    scale: 1;
    padding: 4px;
    border: none;
    border-radius: 8px;
    background-color: #bd4747;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    height: 15px;
    width: 15px;
    text-align: center;
    animation: fadeInScale 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: var(--transition);
        transform: rotate(180deg);
        scale: 1.05;
    }

    &:focus {
        transition: var(--transition);
        transform: rotate(260deg);
        scale: 1.1;
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.colorContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.colorSelectContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    gap: 15px;
}

.readOnlyContainer {
    display: block;
    width: -webkit-fill-available;
}

.colorInput {
    width: 100%;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonField {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    width: 100%;
    background: #464c62;
    border-radius: 8px;

    &:hover {
        background: #5e6685;
    }
}

.buttonName {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    color: #ffffff;
}

.buttonTextInput {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    background: 0;

    &:focus {
        outline: 0px;
    }
}

.defaultParameterContainer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 8px;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 9px;
    background: #1a1c24;
    border-radius: 4px;
    outline: 1px #474d61 solid;
}

.defaultLabel {
    font-size: 14px;
    color: #a1bbff;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input[type='color'] {
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25px;
    height: 25px;
    border-radius: 8px;
}

input[type='color']::-moz-color-swatch {
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
}


.removeButton {
    border: none;
    color: #e74c3c;
    background: rgba(231, 76, 60, 0.2196078431);
    cursor: pointer;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    transition: color 0.3s;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #ff9084;
    }
}

.addButton {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 8px;
    background-color: #2ecc71;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    transition: var(--transition);

    &:hover {
        background-color: #27ae60;
    }
}


// 

