.mainContainer {
    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-height: var(--height);
    max-height: var(--height);

    padding: 0 40px;

    background: var(--surface-secondary);
    border-bottom: 1px solid var(--border);

    --height: 65px;

    .left {
        display: flex;

        flex-direction: row;

        gap: 15px;

        align-items: center;

        width: -webkit-fill-available;

        .title {
            font-size: 20px;
            font-weight: 900;

            color: var(--text-primary);
        }
    }
}
