.button {
    position: relative;

    box-sizing: border-box;
    display: flex;

    width: 34px;
    height: 34px;

    padding: 5px;

    cursor: pointer;

    background: transparent;
    border: none;
    border-radius: 6px;

    transition: var(--transition);

    & > svg,
    & > img {
        width: 24px;
        height: 24px;

        fill: var(--text-secondary);

        transition: var(--transition);
    }

    & > img {
        filter: grayscale(1) brightness(0) invert(0.63);
    }

    &:hover {
        background: var(--surface-elevated);

        & > svg {
            fill: var(--text-primary);
        }

        & > img {
            filter: grayscale(1) brightness(0) invert(1);
        }
    }

    &:disabled {
        background: transparent;
        border: none;

        opacity: 0.5;

        & > svg {
            fill: var(--NavigationIconDefaultSvgColor);
        }
    }
}
