.button {
    transition: var(--transition);

    cursor: pointer;
    display: flex;
    background: transparent;
    border: none;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    position: relative;

    & > svg,
    & > img {
        width: 24px;
        height: 24px;
        transition: var(--transition);
        fill: var(--text-secondary);
    }

    & > img {
        filter: grayscale(1) brightness(0) invert(0.63);
    }

    &:hover {
        background: var(--surface-elevated);
        & > svg {
            fill: var(--text-primary);
        }

        & > img {
            filter: grayscale(1) brightness(0) invert(1);
        }
    }

    &:disabled {
        opacity: 0.5;
        background: transparent;
        border: none;
        & > svg {
            fill: var(--NavigationIconDefaultSvgColor);
        }
    }
}
