.button {
    transition: var(--transition);

    cursor: pointer;
    display: flex;
    background: transparent;
    border: none;
    border-radius: 16px;
    padding: 12px;
    position: relative;

    & > svg {
        transition: var(--transition);
        fill: var(--NavigationIconDefaultSvgColor);
    }

    &:hover {
        background: #292c36;
        & > svg {
            fill: white;
        }
    }

    &:disabled {
        opacity: 0.5;
        background: transparent;
        border: none;
        & > svg {
            fill: var(--NavigationIconDefaultSvgColor);
        }
    }
}
