.inputContainer {
    position: relative;

    display: flex;

    flex-direction: column;

    gap: 2px;

    align-items: flex-start;

    width: -webkit-fill-available;

    padding: 10px 16px;

    cursor: pointer;
    outline: transparent solid 2px;

    background: var(--border);
    border-radius: 8px;

    transition: var(--transition);

    &:hover {
        outline: var(--text-secondary) solid 2px;
    }
}

.label {
    display: flex;

    gap: 5px;

    align-items: center;

    font-size: 12px;
    font-weight: 400;

    line-height: 140%;

    color: #fff;
}

.textInput {
    position: relative;

    width: -webkit-fill-available;

    font-size: 18px;
    font-weight: 500;

    line-height: 140%;

    color: var(--text-secondary);

    word-break: break-word;
    overflow-wrap: break-word;

    cursor: auto;
    outline: none;

    background: transparent;

    transition: var(--transition);

    &:empty::before {
        position: absolute;

        color: var(--text-secondary);

        pointer-events: none;

        content: attr(data-placeholder);
    }

    &:not(:focus):has(br:only-child)::before {
        content: attr(data-placeholder);
    }

    &:focus {
        border: 0;
    }

    &:focus-visible {
        outline: none;
    }

    &[contenteditable='true']:empty::before {
        display: block;

        color: var(--text-secondary);

        pointer-events: none;

        content: attr(data-placeholder);
    }

    &.placeholder {
        color: var(--text-secondary);

        border: 0;
    }

    &.focused {
        border: 0;
    }
}

.error {
    font-size: 0.75rem;

    color: var(--warning);

    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;

        transform: translateY(-5px);
    }

    to {
        opacity: 1;

        transform: translateY(0);
    }
}

.commandWrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 20;

    width: -webkit-fill-available;
    max-height: fit-content;

    overflow: hidden;

    background: var(--border);
    border-radius: 8px;
    box-shadow: 0 0 9px 5px rgb(0, 0, 0, 0.25);

    transform: translateY(10px);

    transition: var(--transition);

    animation: fadeInUp 0.2s ease-in-out;
}

.commandList {
    display: flex;

    flex-direction: column;
}

.commandButton {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 10px 16px;

    color: var(--text-secondary);

    cursor: pointer;

    background: var(--surface-elevated);

    transition: var(--transition);

    &:hover {
        background: var(--surface-tertiary);
    }
}

.commandInfo {
    display: flex;

    flex-direction: row;

    gap: 6px;

    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 13px;

    color: var(--text-secondary);

    white-space: nowrap;
}

.commandPreview {
    font-weight: 600;

    color: var(--text-secondary);
}

@keyframes fadeInUp {
    from {
        height: calc(0% * 2);

        opacity: 0;
    }

    to {
        height: calc(100% * 2);

        opacity: 1;
    }
}

.control {
    display: flex;

    flex-direction: row;

    gap: 6px;

    width: -webkit-fill-available;
}

.controlButton {
    position: relative;

    padding: 1px;

    cursor: pointer;

    background: transparent;

    &:hover {
        background: transparent;

        svg {
            color: #fff;
        }
    }

    svg {
        color: var(--text-secondary);

        transition: var(--transition);
    }
}

.itemName {
    display: flex;

    flex-direction: column;

    & > img {
        border-radius: 4px;
    }
}
