.updateItem {
    display: flex;
}

.versionInfo {
    min-width: 0;

    span {
        white-space: nowrap;
    }
}

.content {
    min-width: 0;
    width: 100%;

    p:first-child,
    ul:first-child {
        margin-top: 0;
    }
}
