.checkbox {
    cursor: pointer;
    transition: var(--transition);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: -webkit-fill-available;

    border-radius: 10px;

    &:hover {
        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    &:disabled {
        opacity: 0.2;
    }

    .checkboxInner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2px 0 0;
        gap: 10px;

        width: -webkit-fill-available;

        .input_checkbox {
            display: none;
        }

        .children_content {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;

            color: #ffffff;
        }

        .custom_checkbox {
            transition: var(--transition);
            position: relative;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px;
            gap: 25px;

            width: 16px;
            height: 16px;

            background: #2d3348;
            outline: 1px solid #545f82;
            border-radius: 4px;

            .checkbox_slider {
                transition: var(--transition);
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 8px;
                height: 8px;
                margin: auto;
                background: #545f82;
                border-radius: 3px;
            }
        }
    }

    .description {
        font-weight: 400;
        font-size: 10px;
        line-height: 140%;

        color: #a3abc6;
    }
}

.active {
    &:hover {
        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    .checkboxInner {
        .custom_checkbox {
            background: #2dc77f;
            outline: 2px solid #42f693;

            .checkbox_slider {
                background: white;
                width: 12px;
                height: 12px;
            }
        }
    }
}

.disabled {
    opacity: 0.35;
}
