.button {
    cursor: pointer;
    transition: var(--transition);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 25px;
    gap: 10px;

    background: var(--accent);
    border-radius: 8px;
    min-width: fit-content;

    font-weight: 800;
    font-size: 14px;
    line-height: 140%;

    color: var(--accent-foreground);

    &:not(:disabled):hover {
        filter: brightness(0.85);
    }

    &:disabled {
        cursor: default;
        opacity: 0.48;
    }

    &:not(:disabled):active {
        filter: brightness(0.72);
    }
}
