.button {
    display: flex;

    flex-direction: row;

    gap: 10px;

    align-items: flex-start;
    justify-content: center;

    min-width: fit-content;

    padding: 8px 25px;

    font-size: 14px;
    font-weight: 800;

    line-height: 140%;

    color: var(--accent-foreground);

    cursor: pointer;

    background: var(--accent);
    border-radius: 8px;

    transition: var(--transition);

    &:not(:disabled):hover {
        filter: brightness(0.85);
    }

    &:disabled {
        cursor: default;

        opacity: 0.48;
    }

    &:not(:disabled):active {
        filter: brightness(0.72);
    }
}
